<main class="main">
    <h1><%= title %></h1>
    <br>

    <% if (flash?.success) { %>
        <div class="success-alert">
            <span><%= flash.success.message %></span><br>
            <a href="<%= routes.courses.list() %>"><%= flash.success.seeCoursesButtonLabel %></a>
        </div>
    <% } %>

    <% if (error) { %>
        <div class="error-alert">
            <span><%= error %></span><br>
        </div>
    <% } %>

    <form action="<%= routes.courses.create() %>" method="POST">
        <label>
            <span><%= await t.translate("courses:create:form:labels:title") %></span>
            <% (validationErrors?.title ?? []).forEach(error => { %>
                <span class="error-span"><%= error.message %></span>
            <% }) %>
            <input type="text" name="title" value="<%= flash?.values?.title %>">
        </label>

        <button><%= await t.translate("buttons:create") %></button>
    </form>
</main>
