<main class="main">
    <h1 style="margin-bottom: 8px;"><%= title %></h1>

    <div id="alerts-container"></div>

    <% if (resourceLinks.length > 0) { %>
        <table id="resource-links-table" class="base-table">
            <thead>
                <th><%= await t.translate("lti:list-resource-links:thead:link-id") %></th>
                <th><%= await t.translate("lti:list-resource-links:thead:link-title") %></th>
                <th><%= await t.translate("lti:list-resource-links:thead:link-description") %></th>
                <th><%= await t.translate("table-headings:actions") %></th>
            </thead>
            <tbody>
            </tbody>
        </table>
        <br>
    <% } else { %>
        <div class="warning-alert"><span><%= await t.translate("lti:list-resource-links:no-resource-links-p1") %></span></div>
    <% } %>

    <button id="open-new-resource-link-dialog"><%= await t.translate("lti:list-resource-links:buttons:new-resource-link") %></button>
</main>

<dialog class="base-modal" id="new-resource-link-dialog">
    <h1><%= await t.translate("lti:list-resource-links:new-resource-link-dialog-title") %></h1>
    <form id="new-resource-link-form">
        <label for="input-deploymentId">
            <span><%= await t.translate("lti:create-resource-link:form:deployment-id") %></span>
            <input id="input-deploymentId" name="deploymentId" type="text" readonly value="<%= deployment.id %>">
        </label>
        <label for="input-title">
            <span><%= await t.translate("lti:create-resource-link:form:title") %></span>
            <input id="input-title" name="title" type="text">
        </label>
        <label for="input-description">
            <span><%= await t.translate("lti:create-resource-link:form:description") %></span>
            <input id="input-description" name="description" type="text">
        </label>
        <label for="input-resourceLink">
            <span><%= await t.translate("lti:create-resource-link:form:resource-link") %></span>
            <input id="input-resourceLink" name="resourceLink" type="text">
        </label>

        <button type="submit" value="confirm">
            <%= await t.translate("buttons:confirm") %>
        </button>
        <button type="reset" id="close-new-resource-link-dialog" value="cancel">
            <%= await t.translate("buttons:cancel") %>
        </button>
    </form=>
</dialog>

<script id="handle-resource-links-table-refreshment" type="module">
    const tbody = document.getElementById("resource-links-table").querySelector("tbody");

    const resourceLinks = JSON.parse(`<%- JSON.stringify(resourceLinks) %>`);

    function prepareRow(link) {
        const row = document.createElement("tr");

        row.innerHTML = `
            <td>${link.id}</td>
            <td>${link.title ?? "-"}</td>
            <td>${link.description ?? "-"}</td>
            <td>
                <button id=""><%= await t.translate("buttons:remove") %></button>
            </td>`;

        return row;
    }

    function appendResourceLinkToTable(link) {
        const row = prepareRow(link);
        tbody.appendChild(row);
    }

    function refreshTable() {
        tbody.innerHTML = resourceLinks.map(prepareRow).map(row => row.outerHTML).join("\n");
    }

    window.addEventListener("load", refreshTable);

    window.addEventListener("push-resource-links", (event) => {
        const resourceLink = event.detail;
        resourceLinks.push(resourceLink);
        refreshTable();
    })
</script>

<script id="new-resource-link-script" type="module">
    const triggerBtn = document.getElementById("open-new-resource-link-dialog");
    const closeBtn = document.getElementById("close-new-resource-link-dialog");
    const dialog = document.getElementById("new-resource-link-dialog");
    const form = document.getElementById("new-resource-link-form");
    const alertsContainer = document.getElementById("alerts-container");

    triggerBtn.addEventListener("click", () => {
        dialog.showModal();
    });

    closeBtn.addEventListener("click", () => {
        dialog.close();
    });

    form.addEventListener("submit", async (event) => {
        event.preventDefault();
        removeAlerts();

        const data = Object.fromEntries(
            [...new FormData(event.currentTarget)].filter(([key, value]) => value !== "")
        );

        const response = await fetch("<%= routes.lti.resourceLinks.create() %>", {
            credentials: "same-origin",
            headers: {
                'Accept': 'application/json, text/plain, */*',
                'Content-Type': 'application/json'
            },
            method: "POST",
            body: JSON.stringify(data),
        });

        const body = await response.json();

        if (!response.ok) {
            if ("errors" in body) return insertErrorSpans(body.errors);
            if (response.status === 500) return insertErrorSpan(body.error, form);
        }

        handleSuccessCreation(body.message, body.ltiResourceLink);
    });

    const successAlertClass = "new-resource-link-validation-success-alert";
    const errorAlertClass = "new-resource-link-validation-error-alert";

    function handleSuccessCreation(message, newResourceLink) {
        const formResetEvent = new CustomEvent("new-resource-link-form-reset");
        window.dispatchEvent(formResetEvent);

        dialog.close();
        
        const successAlert = document.createElement("div");
        successAlert.classList.add("success-alert", successAlertClass);
        successAlert.innerHTML = `<span>${message}</span>`;

        alertsContainer.appendChild(successAlert);

        const updateResourceLinkEvent = new CustomEvent("push-resource-links", {
            detail: newResourceLink,
            bubbles: true,
            composed: true,
            cancelable: true,
        });
        window.dispatchEvent(updateResourceLinkEvent);
    }

    function removeAlerts() {
        document
            .querySelectorAll(`.${successAlertClass}, .${errorAlertClass}`)
            .forEach(errorSpan => errorSpan.remove());
    }

    function insertErrorSpan(message, targetToInsertBefore) {
        const errorSpan = document.createElement("div");
        errorSpan.classList.add("error-alert", errorAlertClass);
        errorSpan.innerHTML = `<span>${message}</span>`;
        
        targetToInsertBefore.insertAdjacentElement("beforebegin", errorSpan); 
    }

    function insertErrorSpans(errors) {
        const isErrorObject = Boolean(errors) && !Array.isArray(errors) && typeof errors === "object";

        if (!isErrorObject) return;

        Object.entries(errors).forEach(([field, errors]) => {
            if (Array.isArray(errors)) {
                const input = document.querySelector(`input[name=${field}]`);
                errors.forEach(error => insertErrorSpan(error.message, input));
                return;
            }

            insertErrorSpans(errors);
        })
    }

    window.addEventListener("new-resource-link-form-reset", () => {
        form.reset();
    })
</script>
