<main class="main">
    <h1 style="margin-bottom: 8px;"><%= title %></h1>

    <div id="alerts-container"></div>

    <% if (resourceLinks.length > 0) { %>
        <table id="resource-links-table" class="base-table">
            <thead>
                <th><%= await t.translate("lti:list-resource-links:thead:link-id") %></th>
                <th><%= await t.translate("lti:list-resource-links:thead:link-title") %></th>
                <th><%= await t.translate("lti:list-resource-links:thead:link-description") %></th>
                <th><%= await t.translate("table-headings:actions") %></th>
            </thead>
            <tbody>
            </tbody>
        </table>
        <br>
    <% } else { %>
        <div id="no-resource-links-warning" class="warning-alert"><span><%= await t.translate("lti:list-resource-links:no-resource-links-p1") %></span></div>
    <% } %>

    <button id="open-new-resource-link-dialog"><%= await t.translate("lti:list-resource-links:buttons:new-resource-link") %></button>
</main>

<dialog class="base-modal" id="new-resource-link-dialog">
    <h1><%= await t.translate("lti:list-resource-links:new-resource-link-dialog-title") %></h1>
    <form id="new-resource-link-form">
        <label for="input-deploymentId">
            <span><%= await t.translate("lti:create-resource-link:form:deployment-id") %></span>
            <input id="input-deploymentId" name="deploymentId" type="text" readonly value="<%= deployment.id %>">
        </label>
        <label for="input-title">
            <span><%= await t.translate("lti:create-resource-link:form:title") %></span>
            <input id="input-title" name="title" type="text">
        </label>
        <label for="input-description">
            <span><%= await t.translate("lti:create-resource-link:form:description") %></span>
            <input id="input-description" name="description" type="text">
        </label>
        <label for="input-resourceLink">
            <span><%= await t.translate("lti:create-resource-link:form:resource-link") %></span>
            <input id="input-resourceLink" name="resourceLink" type="text">
        </label>

        <input type="hidden" id="resource-link-parameters-input" name="customParameters" value="{}"></input>
    </form>

    <form
        id="new-resource-link-parameter-form"
        style="padding: 8px; border: 2px solid;"
    >
        <h2><%= await t.translate("lti:new-resource-link-param:form:title") %></h2>
        <ul id="resource-link-parameters" style="border-block: 1px solid black; margin-block: 8px; list-style: none;"></ul>
        <label>
            <span>
                <%= await t.translate("lti:new-resource-link-param:form:param-key") %>
            </span>
            <input id="resource-link-parameters-parameter-key" name="key" type="text">
        </label>
        <label>
            <span>
                <%= await t.translate("lti:new-resource-link-param:form:param-key") %>
            </span>
            <input id="resource-link-parameters-parameter-value" name="value" type="text">
        </label>
        <button type="submit" form="new-resource-link-parameter-form"><%= await t.translate("buttons:add") %></button>
    </form>
    <br>

    <button form="new-resource-link-form" type="submit" value="confirm">
        <%= await t.translate("buttons:confirm") %>
    </button>
    <button form="new-resource-link-form" type="reset" id="close-new-resource-link-dialog" value="cancel">
        <%= await t.translate("buttons:cancel") %>
    </button>
</dialog>

<dialog class="base-modal" id="delete-resource-link-dialog">
    <p><%= await t.translate("lti:delete-resource-link:warning-p1") %></p>
    <br>
    <form id="delete-resource-link-form" method="dialog">
        <input type="hidden" name="endpoint" id="delete-resource-link-form-id-input">
        <input type="hidden" name="activeTab" class="active-tab-input" value="">
        <button type="submit" value="confirm"><%= await t.translate("buttons:confirm") %></button>
        <button id="close-resource-link-removal-modal" type="reset" value="cancel"><%= await t.translate("buttons:cancel") %></button>
    </form>
</dialog>

<script id="delete-resource-link-dialog-script" type="module">
    const alertsContainer = document.getElementById("alerts-container");
    const deleteDialog = document.getElementById("delete-resource-link-dialog");
    const close = document.getElementById("close-resource-link-removal-modal");
    const idInput = document.getElementById("delete-resource-link-form-id-input");

    function showRemovalDialog(event) {
        const trigger = event.target;
        idInput.value = trigger.value;
        deleteDialog.showModal();
    }

    function setupTriggers() {
        const triggers = document
            .querySelectorAll(".resource-link-delete-button")
            .forEach(trigger => trigger.addEventListener("click", showRemovalDialog));
    }

    close.addEventListener("click", () => deleteDialog.close());

    deleteDialog.addEventListener("close", async () => {
        if (deleteDialog.returnValue !== "confirm") return;

        const resourceLinkId = idInput.value;
        const endpoint = `<%= routes.lti.resourceLinks.delete(":id") %>`.replace(":id", resourceLinkId);
        const response = await fetch(endpoint, { method: "DELETE" });

        const alert = document.createElement("div");

        if (!response.ok) {
            let message;
            try {
                const body = await response.json();
                message = body.error;
            } catch (_error) {
                message = "<%= await t.translate('core:errors:internal-error-message') %>";
            }

            alert.classList.add("error-alert");
            alert.innerHTML = `<span>${message}</span>`;
        }
        else {
            const { successMessage, resourceLinkId } = await response.json();
            alert.classList.add("success-alert");
            alert.innerHTML = `<span>${successMessage}</span>`;

            const deletedResourceLinkEvent = new CustomEvent("remove-resource-link", {
                detail: resourceLinkId,
                bubbles: true,
                cancelable: true,
                composed: true,
            });

            window.dispatchEvent(deletedResourceLinkEvent);
        }

        alertsContainer.innerHTML = "";
        alertsContainer.appendChild(alert);
    });

    window.addEventListener("table-refresh", () => {
        setupTriggers();
    });
</script>

<script id="handle-resource-links-table-refreshment" type="module">
    const alertsContainer = document.getElementById("alerts-container");
    let table = document.getElementById("resource-links-table");
    let warningAlert = document.getElementById("no-resource-links-warning");
    let tbody = table?.querySelector("tbody");

    ensureWarningAlertExists();
    ensureTableExists();

    const resourceLinks = new Map(JSON.parse(`<%- JSON.stringify(resourceLinks) %>`).map((link) => [link.id, link]));

    function prepareRow(link) {
        const row = document.createElement("tr");

        row.innerHTML = `
            <td>${link.id}</td>
            <td>${link.title ?? "-"}</td>
            <td>${link.description ?? "-"}</td>
            <td>
                <button class="resource-link-delete-button" value="${link.id}"><%= await t.translate("buttons:remove") %></button>
            </td>`;

        return row;
    }

    function appendResourceLinkToTable(link) {
        const row = prepareRow(link);
        tbody.appendChild(row);
    }

    function refreshTable() {
        const rows = resourceLinks
            .values()
            .toArray()
            .map(prepareRow)
            .map(row => row.outerHTML)
            .join("\n");

        if (rows) {
            warningAlert?.remove();
            ensureTableExists();
            tbody.innerHTML = rows;
        } else {
            table?.remove();
            ensureWarningAlertExists();
        }
        
        const tableRefreshEvent = new CustomEvent("table-refresh");
        window.dispatchEvent(tableRefreshEvent);
    }

    function ensureWarningAlertExists() {
        if (warningAlert?.isConnected) return;

        warningAlert = document.createElement("div");
        warningAlert.id = "no-resource-links-warning";
        warningAlert.classList = "warning-alert";
        warningAlert.innerHTML = `<span><%= await t.translate("lti:list-resource-links:no-resource-links-p1") %></span>`;
        warningAlert.style.display = "hidden";

        alertsContainer.insertAdjacentElement("afterend", warningAlert);
    }

    function ensureTableExists() {
        if (table?.isConnected) return;

        table = document.createElement("table");
        table.id = "resource-links-table";
        table.classList = "base-table";
        table.innerHTML =
            `<thead>
                <th><%= await t.translate("lti:list-resource-links:thead:link-id") %></th>
                <th><%= await t.translate("lti:list-resource-links:thead:link-title") %></th>
                <th><%= await t.translate("lti:list-resource-links:thead:link-description") %></th>
                <th><%= await t.translate("table-headings:actions") %></th>
            </thead>
            <tbody>
            </tbody>`;
        table.style.display = "hidden";
        
        alertsContainer.insertAdjacentElement("afterend", table);
        tbody = table.querySelector("tbody");
    }

    window.addEventListener("load", refreshTable);

    window.addEventListener("push-resource-links", (event) => {
        const resourceLink = event.detail;
        resourceLinks.set(resourceLink.id, resourceLink);
        refreshTable();
    });

    window.addEventListener("remove-resource-link", (event) => {
        const resourceLinkId = event.detail;
        resourceLinks.delete(resourceLinkId);
        refreshTable();
    });
</script>

<script id="new-resource-link-parameters-script" type="module">
    const newResourceLinkForm = document.getElementById("new-resource-link-form");
    const newResourceLinkParameterForm = document.getElementById("new-resource-link-parameter-form");

    const parametersContainer = document.getElementById("resource-link-parameters");
    const parametersInputsContainer = document.getElementById("resource-link-parameters-input");

    const parameters = new Map();

    newResourceLinkParameterForm.addEventListener("submit", (e) => {
        e.preventDefault();
        const form = e.currentTarget;
        const { key, value } = Object.fromEntries(new FormData(form));

        if (!key || !value) return;

        parameters.set(key, value);
        form.reset();

        updateParametersDisplay();
        updateParametersInput();
    })

    function removeByKey(event) {
        const key = event.target.value;
        parameters.delete(key);
        updateParametersDisplay();
        updateParametersInput();
    }

    function attachEventsToParametersRemovalButtons() {
        document
            .querySelectorAll(".remove-resource-link-parameter-by-key")
            .forEach((button) => button.addEventListener("click", removeByKey));
    }

    function detachEventsFromParametersRemovalButtons() {
        document
            .querySelectorAll(".remove-resource-link-parameter-by-key")
            .forEach((button) => button.removeEventListener("click", removeByKey));
    }

    function updateParametersDisplay() {
        detachEventsFromParametersRemovalButtons();
        parametersContainer.innerHTML = "";

        for (const [key, value] of parameters.entries()) {
            const parameterCard = document.createElement("li");
            parameterCard.style = "display: flex; gap: 8px; margin-block: 2px;";

            parameterCard.innerHTML =
                `<div style="flex: 1;">
                    <span>${key}: </span><span>${value}</span>
                </div>
                <div>
                    <button class="remove-resource-link-parameter-by-key" value="${key}"><%= await t.translate("buttons:remove") %></button>
                </div>`;

            parametersContainer.appendChild(parameterCard);
        }

        attachEventsToParametersRemovalButtons();
    }

    function updateParametersInput() {
        const stringifiedParameters = JSON.stringify(Object.fromEntries(parameters));
        parametersInputsContainer.value = stringifiedParameters;
    }

    updateParametersDisplay();
    updateParametersInput();

    window.addEventListener("new-resource-link-form-reset", () => {
        parameters.clear();
        updateParametersDisplay();
        updateParametersInput();
    });
</script>

<script id="new-resource-link-script" type="module">
    const triggerBtn = document.getElementById("open-new-resource-link-dialog");
    const closeBtn = document.getElementById("close-new-resource-link-dialog");
    const dialog = document.getElementById("new-resource-link-dialog");
    const form = document.getElementById("new-resource-link-form");
    const alertsContainer = document.getElementById("alerts-container");

    triggerBtn.addEventListener("click", () => {
        dialog.showModal();
    });

    closeBtn.addEventListener("click", () => {
        dialog.close();
    });

    form.addEventListener("submit", async (event) => {
        event.preventDefault();
        removeAlerts();

        const data = Object.fromEntries(
            [...new FormData(event.currentTarget)].filter(([key, value]) => value !== "")
        );

        try {
            data.customParameters = JSON.parse(data.customParameters);
        } catch (e) {
            console.error("Failed to serialize custom parameters.", e);
            delete data.customParameters;
        }

        const response = await fetch("<%= routes.lti.resourceLinks.create() %>", {
            credentials: "same-origin",
            headers: {
                'Accept': 'application/json, text/plain, */*',
                'Content-Type': 'application/json'
            },
            method: "POST",
            body: JSON.stringify(data),
        });

        const body = await response.json();

        if (!response.ok) {
            if ("errors" in body) return insertErrorSpans(body.errors);
            if (response.status === 500) return insertErrorSpan(body.error ?? `<%= await t.translate("core:errors:internal-error-message") %>`, form);
        }

        handleSuccessCreation(body.message, body.ltiResourceLink);
    });

    const successAlertClass = "new-resource-link-validation-success-alert";
    const errorAlertClass = "new-resource-link-validation-error-alert";

    function handleSuccessCreation(message, newResourceLink) {
        const formResetEvent = new CustomEvent("new-resource-link-form-reset");
        window.dispatchEvent(formResetEvent);

        dialog.close();
        
        const successAlert = document.createElement("div");
        successAlert.classList.add("success-alert", successAlertClass);
        successAlert.innerHTML = `<span>${message}</span>`;

        alertsContainer.innerHTML = "";
        alertsContainer.appendChild(successAlert);

        const updateResourceLinkEvent = new CustomEvent("push-resource-links", {
            detail: newResourceLink,
            bubbles: true,
            composed: true,
            cancelable: true,
        });
        window.dispatchEvent(updateResourceLinkEvent);
    }

    function removeAlerts() {
        document
            .querySelectorAll(`.${successAlertClass}, .${errorAlertClass}`)
            .forEach(errorSpan => errorSpan.remove());
    }

    function insertErrorSpan(message, targetToInsertBefore) {
        const errorSpan = document.createElement("div");
        errorSpan.classList.add("error-alert", errorAlertClass);
        errorSpan.innerHTML = `<span>${message}</span>`;
        
        targetToInsertBefore.insertAdjacentElement("beforebegin", errorSpan); 
    }

    function insertErrorSpans(errors) {
        const isErrorObject = Boolean(errors) && !Array.isArray(errors) && typeof errors === "object";

        if (!isErrorObject) return;

        Object.entries(errors).forEach(([field, errors]) => {
            if (Array.isArray(errors)) {
                const input = document.querySelector(`input[name=${field}]`);
                errors.forEach(error => insertErrorSpan(error.message, input));
                return;
            }

            insertErrorSpans(errors);
        })
    }

    window.addEventListener("new-resource-link-form-reset", () => {
        form.reset();
    })
</script>
