<main class="main">
    <h1><%= title %></h1>
    <hr>

    <% if (error) {%>
        <br>
        <div class="error-alert">
            <span><%= error %></span>
        </div>
    <% } else { %>
        <br>
    <% } %>

    <%if (tools.length > 0) { %>
        <table class="base-table">
            <thead>
                <th><%= tableHeadings.toolName %></th>
                <th><%= tableHeadings.toolDetails %></th>
                <th><%= tableHeadings.actions %></th>
            </thead>
            <% tools.forEach(tool => { %>
                <tr>
                    <td><%= tool.name %></td>
                    <td>
                        <ul>
                            <li><%= toolsFields.id %>: <%= tool.id %></li>
                            <% if (tool.description) { %>
                                <li><%= toolsFields.description %>: <%= tool.description %></li>
                            <% } %>
                            <% if (tool.homePageUri) { %>
                                <li><%= toolsFields.homePageUri %>: <%= tool.homePageUri %></li>
                            <% } %>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="<%= routes.lti.tools.details(tool.id) %>#tooldeployments"><%= buttons.deployments %></a></li>
                            <li><a href="<%= routes.lti.tools.details(tool.id) %>#tooldetails"><%= buttons.toolDetails %></a></li>
                        </ul>
                    </td>
                </tr>
            <% }) %>
        </table>
        <br/>
        <a href="<%= routes.lti.tools.registerForm() %>"><%= buttons.registerNewTool %></a>
    <% } else { %>
        <div class="warning-alert">
            <span><%= content.noToolsMessage %></span>
            <br>
            <a href="<%= routes.lti.tools.registerForm() %>"><%= buttons.registerNewTool %></a>
        </div>
    <% } %>
</main>