<main class="main">
    <h1><%= title %></h1>
    <hr>

    <% if (error) {%>
        <br>
        <div class="error-alert">
            <span><%= error %></span>
        </div>
    <% } else { %>
        <br>
    <% } %>

    <% if (tools.length > 0) { %>
        <table class="base-table">
            <thead>
                <th><%= await t.translate("lti:list-tools:thead:tool-name") %></th>
                <th><%= await t.translate("lti:list-tools:thead:tool-details") %></th>
                <th><%= await t.translate("table-headings:actions") %></th>
            </thead>
            <% for (const tool of tools) { %>
                <tr>
                    <td><%= tool.name %></td>
                    <td>
                        <ul>
                            <li><%= await t.translate("lti:list-tools:tool-field:id") %>: <%= tool.id %></li>
                            <% if (tool.description) { %>
                                <li><%= await t.translate("lti:list-tools:tool-field:description") %>: <%= tool.description %></li>
                            <% } %>
                            <% if (tool.homePageUri) { %>
                                <li><%= await t.translate("lti:list-tools:tool-field:home-page-uri") %>: <%= tool.description %></li>
                            <% } %>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="<%= routes.lti.tools.details(tool.id) %>#tooldeployments"><%= await t.translate("lti:list-tools:buttons:list-deployments") %></a></li>
                            <li><a href="<%= routes.lti.tools.details(tool.id) %>#tooldetails"><%= await t.translate("lti:list-tools:buttons:tool-details") %></a></li>
                        </ul>
                    </td>
                </tr>
            <% } %>
        </table>
        <br/>
        <a href="<%= routes.lti.tools.registerForm() %>"><%= await t.translate("lti:list-tools:buttons:register-new-tool") %></a>
    <% } else { %>
        <div class="warning-alert">
            <span><%= await t.translate("lti:list-tools:no-tools-registered") %></span>
            <br>
            <a href="<%= routes.lti.tools.registerForm() %>"><%= await t.translate("lti:list-tools:buttons:register-new-tool") %></a>
        </div>
    <% } %>
</main>
