<%# This view is shared with OIDC module, therefore it shall be rendered by `LoginViewManager`. %>
<main class="main">
    <h1><%= title %></h1>
    <% if (error) { %>
        <div class="error-alert">
            <span><%= error %></span><br>
        </div>
    <% } %>
    <form action="<%= routes.auth.login() %>" method="post">
        <input type="hidden" name="destiny" value="<%= flash?.values?.destiny ?? destinyEndpoint %>">
        <label>
            <span><%= labels.username %></span>
            <% (validationErrors?.username ?? []).forEach(error => { %>
                <span class="error-span"><%= error.message %></span>
            <% }) %>
            <input type="text" name="username" id="username-input" value="<%= flash?.values?.username %>">
        </label>
        <label>
            <span><%= labels.password %></span>
            <% (validationErrors?.password ?? []).forEach(error => { %>
                <span class="error-span"><%= error.message %></span>
            <% }) %>
            <input type="password" name="password" id="password-input" value="<%= flash?.values?.password %>">
        </label>
        
        <button><%= buttons.login %></button>
        <br>
        <a href="<%= routes.auth.registerForm() %>"><%= buttons.noAccount %></a>
    </form>
</main>