<main class="main">
    <h1><%= title %></h1>
    <% if (flash?.success) { %>
        <div class="success-alert">
            <span><%= flash.success.message %></span><br>
            <a href="<%= loginEndpoint %>"><%= flash.success.loginButtonMessage %></a>
        </div>
    <% } %>
    <% if (error) { %>
        <div class="error-alert">
            <span><%= error %></span><br>
        </div>
    <% } %>
    <form action="<%= endpoint %>" method="post">
        <input type="hidden" name="destiny" value="<%- destinyEndpoint %>">
        <label>
            <span><%= labels.username %></span>
            <% (validationErrors?.username ?? []).forEach(error => { %>
                <span class="error-span"><%= error.message %></span>
            <% }) %>
            <input type="text" name="username" id="username-input" value="<%= flash?.values?.username %>">
        </label>
        <label>
            <span><%= labels.password %></span>
            <% (validationErrors?.password ?? []).forEach(error => { %>
                <span class="error-span"><%= error.message %></span>
            <% }) %>
            <input type="password" name="password" id="password-input" value="<%= flash?.values?.password %>">
        </label>
        
        <button><%= buttons.login %></button>
        <br>
        <a href="<%= registerEndpoint %>"><%= buttons.noAccount %></a>
    </form>
</main>