<% 
function isUrl(value) {
    try {
        new URL(value);
        return true;
    } catch (_) {
        return false;
    }
}

const toolKeysToInsertManually = ["registeredMessages", "logoUri"];
%>

<main class="main">
    <h1><%= title %></h1>
    <br>

    <% if (flash.successMessage) { %>
        <div class="success-alert">
            <span><%= flash.successMessage %></span>
        </div>
    <% } %>

    <div>
        <button id="show-details"><%= buttons.detailsTab %></button>
        <button id="show-deployments"><%= buttons.deploymentsTab %></button>
    </div>
    <br>
    <hr>
    <br>
    <div id="details" style="display: hidden;">
        <div class="vertical-table">
            <% Object
                .keys(tool)
                .filter(key => !toolKeysToInsertManually.includes(key))
                .forEach((key) => {
            %>
                <% if (!Array.isArray(tool[key])) { %>
                    <div class="item">
                        <header><%= toolTableHeadings[key] %></header>
                        <% if (isUrl(tool[key])) { %>
                            <a href="<%= tool[key] %>" target="_blank"><%= tool[key] %></a>
                        <% } else { %>
                            <span><%= tool[key] %></span>
                        <% } %>
                    </div>
                <% } else if (tool[key].length > 0) { %>
                    <div class="item">
                        <header><%= toolTableHeadings[key] %></header>
                        <ul style="margin-left: 24px;">
                            <% tool[key].forEach((item) => { %>
                                <li><%= item %></li>
                            <% }) %>
                        </ul>
                    </div>
                <% } %>
            <% }) %>

            <div class="item">
                <header><%= toolTableHeadings.logoUri %></header>
                <span>
                    <img src="<%= tool.logoUri %>" alt="<%= toolTableHeadings.logoUri %>" style="max-width: 100px;">
                </span>
            </div>
        </div>
    </div>

    <div id="deployments" style="display: hidden;">
        <% if (deployments.length > 0) { %>
            <table class="base-table">
                <thead>
                    <th><%= deploymentTableHeadings.id %></th>
                    <th><%= deploymentTableHeadings.label %></th>
                </thead>
                <tbody>
                    <% deployments.forEach(deployment => { %>
                        <tr>
                            <td><%= deployment.id %></td>
                            <td><%= deployment.label %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <br>
        <% } else { %>
            <div class="warning-alert">
                <span><%= content.noDeploymentsMessage %></span>
            </div>
        <% } %>

        <button id="show-deployment-modal"><%= buttons.deploy %></button>
    </div>

    <div id="invalid-tab" class="error-alert" style="display: hidden;">
        <span><%= content.invalidTabSelected %></span>
    </div>
</main>

<dialog class="base-modal" id="deploy-tool-dialog" style="padding: 8px;">
    <h2 style="margin-bottom: 8px;"><%= deployPopupTitle %></h2>
    <form action="<%= deploymentEndpoint %>" method="post">
        <input type="hidden" name="activeTab" id="active-tab-input" value="">
        <input type="hidden" name="withModalOpen" value="true">
        <label>
            <span><%= deploymentTableHeadings.label %></span>
            <% (validationErrors?.label ?? []).forEach(error => { %>
                <span class="error-span"><%= error.message %></span>
            <% }) %>
            <input type="text" name="label" value="<%= flash?.values?.label %>">
        </label>
        <button type="submit"><%= buttons.confirm %></button>
        <button id="close-deployment-modal" type="button"><%= buttons.cancel %></button>
    </form>
</dialog>

<%# this syntax error is related to the ejs visual studio code extension; the code works tho #%>
<script type="module">
    const trigger = document.getElementById("show-deployment-modal");
    const close = document.getElementById("close-deployment-modal");
    const dialog = document.getElementById("deploy-tool-dialog");

    trigger.addEventListener("click", () => dialog.showModal());
    close.addEventListener("click", () => {
        dialog.close();
    });

    <% if(flash?.values?.withModalOpen ?? false) { %>
        dialog.showModal();
    <% } %>
</script>

<script type="module">
    const activeTabInput = document.getElementById("active-tab-input");

    const Tabs = Object.freeze({
        Deployments: "#tooldeployments",
        Details: "#tooldetails"
    });

    const availableTabs = Object.values(Tabs);

    const Containers = Object.freeze({
        [Tabs.Deployments]: document.getElementById("deployments"),
        [Tabs.Details]: document.getElementById("details"),
        invalidTab: document.getElementById("invalid-tab")
    });


    function updateContent() {
        const activeTab = window.location.hash;

        Containers.invalidTab.hidden = false;
        Object.values(Tabs).forEach((tabContainerId) => {
            Containers[tabContainerId].hidden = true;
        });

        if (!availableTabs.includes(activeTab)) {
            return;
        }

        Containers.invalidTab.hidden = true;
        Containers[activeTab].hidden = false;
        activeTabInput.value = activeTab;
    }

    window.addEventListener("hashchange", updateContent);
    window.addEventListener("load", () => {
        const flashActiveTab = "<%= flash?.values?.activeTab ?? flash?.activeTab %>";

        if (flashActiveTab) window.location.hash = flashActiveTab;

        updateContent();
    });

    const TabTriggers = Object.freeze({
        Deployments: document.getElementById("show-deployments"),
        Details: document.getElementById("show-details"),
    });

    Object.keys(Tabs).forEach((tabKey) => {
        TabTriggers[tabKey].addEventListener("click", () => {
            window.location.hash = Tabs[tabKey];
        })
    })
</script>
