<% 
function isUrl(value) {
    try {
        new URL(value);
        return true;
    } catch (_) {
        return false;
    }
}

const toolKeysToInsertManually = ["registeredMessages", "logoUri"];
%>

<main class="main">
    <h1><%= title %></h1>
    <br>

    <div id="alerts-container">
        <% if (flash.successMessage) { %>
            <div class="success-alert">
                <span><%= flash.successMessage %></span>
            </div>
        <% } %>
    </div>

    <div>
        <button id="show-details"><%= buttons.detailsTab %></button>
        <button id="show-deployments"><%= buttons.deploymentsTab %></button>
    </div>
    <br>
    <hr>
    <br>
    <div id="details" style="display: hidden;">
        <div class="vertical-table">
            <% Object
                .keys(tool)
                .filter(key => !toolKeysToInsertManually.includes(key))
                .forEach((key) => {
            %>
                <% if (!Array.isArray(tool[key])) { %>
                    <div class="item">
                        <header><%= toolTableHeadings[key] %></header>
                        <% if (isUrl(tool[key])) { %>
                            <a href="<%= tool[key] %>" target="_blank"><%= tool[key] %></a>
                        <% } else { %>
                            <span><%= tool[key] %></span>
                        <% } %>
                    </div>
                <% } else if (tool[key].length > 0) { %>
                    <div class="item">
                        <header><%= toolTableHeadings[key] %></header>
                        <ul style="margin-left: 24px;">
                            <% tool[key].forEach((item) => { %>
                                <li><%= item %></li>
                            <% }) %>
                        </ul>
                    </div>
                <% } %>
            <% }) %>

            <div class="item">
                <header><%= toolTableHeadings.logoUri %></header>
                <span>
                    <img src="<%= tool.logoUri %>" alt="<%= toolTableHeadings.logoUri %>" style="max-width: 100px;">
                </span>
            </div>
        </div>
    </div>

    <div id="deployments" style="display: hidden;">
        <% if (deployments.length > 0) { %>
            <div id="deployments-table">
                <table class="base-table">
                    <colgroup>
                        <col style="width: 50%;" />
                        <col style="width: 40%;" />
                        <col style="width: 10%;" />
                    </colgroup>
                    <thead>
                        <th><%= deploymentTableHeadings.id %></th>
                        <th><%= deploymentTableHeadings.label %></th>
                        <th><%= deploymentTableHeadings.actions %></th>
                    </thead>
                    <tbody>
                        <% deployments.forEach(deployment => { %>
                            <tr data-deployment-id="<%= deployment.id %>">
                                <td><%= deployment.id %></td>
                                <td><%= deployment.label %></td>
                                <td>
                                    <button
                                        class="deployment-delete-button"
                                        data-deployment-id="<%= deployment.id %>"
                                        data-endpoint="<%= deployment.endpoints.delete %>"
                                    >
                                        <%= buttons.deleteDeployment %>
                                    </button>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                <br>
            </div>
        <% } else { %>
            <div class="warning-alert">
                <span><%= content.noDeploymentsMessage %></span>
            </div>
        <% } %>

        <button id="show-deployment-modal"><%= buttons.deploy %></button>
    </div>

    <div id="invalid-tab" class="error-alert" style="display: hidden;">
        <span><%= content.invalidTabSelected %></span>
    </div>
</main>

<dialog class="base-modal" id="deploy-tool-dialog">
    <h2 style="margin-bottom: 8px;"><%= deployPopupTitle %></h2>
    <form action="<%= deploymentEndpoint %>" method="post">
        <input type="hidden" name="activeTab" class="active-tab-input" value="">
        <input type="hidden" name="withDeployModalOpen" value="true">
        <label>
            <span><%= deploymentTableHeadings.label %></span>
            <% (validationErrors?.label ?? []).forEach(error => { %>
                <span class="error-span"><%= error.message %></span>
            <% }) %>
            <input type="text" name="label" value="<%= flash?.values?.label %>">
        </label>
        <button type="submit"><%= buttons.confirm %></button>
        <button id="close-deployment-modal" type="button"><%= buttons.cancel %></button>
    </form>
</dialog>

<dialog class="base-modal" id="delete-deployment-dialog">
    <p><%= content.deleteToolWarning %></p>
    <br>
    <form id="delete-deployment-form" method="dialog">
        <input type="hidden" name="endpoint" id="delete-deployment-form-endpoint">
        <input type="hidden" name="activeTab" class="active-tab-input" value="">
        <button type="submit" value="confirm"><%= buttons.confirm %></button>
        <button id="close-deployment-removal-modal" type="reset" value="cancel"><%= buttons.cancel %></button>
    </form>
</dialog>

<script id="delete-deployment-dialog-script" type="module">
    const dialog = document.getElementById("delete-deployment-dialog");
    const close = document.getElementById("close-deployment-removal-modal");
    const endpointInput = document.getElementById("delete-deployment-form-endpoint");

    const alertsContainer = document.getElementById("alerts-container");

    const triggers = document
        .querySelectorAll(".deployment-delete-button")
        .forEach(trigger => {
            trigger.addEventListener("click", () => {
                endpointInput.value = trigger.getAttribute("data-endpoint");
                dialog.showModal();
            })
        });

    close.addEventListener("click", () => dialog.close());

    dialog.addEventListener("close", async () => {
        if (!dialog.returnValue === "confirm") return;

        const endpoint = endpointInput.value;
        const response = await fetch(endpoint, { method: "DELETE" });

        const alert = document.createElement("div");

        if (!response.ok) {
            let message;
            try {
                const body = await response.json();
                message = body.error;
            } catch (_error) {
                message = "<%= content.unexpectedErrorMessage %>";
            }

            alert.classList.add("error-alert");
            alert.innerHTML = `<span>${message}</span>`;
        }
        else {
            const { successMessage, deploymentId } = await response.json();
            alert.classList.add("success-alert");
            alert.innerHTML = `<span>${successMessage}</span>`;

            updateTable(deploymentId);
        }

        alertsContainer.innerHTML = "";
        alertsContainer.appendChild(alert);
    })

    function updateTable(deploymentId) {
        const deploymentsContainer = document.getElementById("deployments");
        const deploymentsTable = document.getElementById("deployments-table");
        const row = deploymentsTable.querySelector(`[data-deployment-id="${deploymentId}"]`);
        row.remove();

        const tableIsEmpty = deploymentsTable.querySelector("tbody").childElementCount === 0;
        if (!tableIsEmpty) return; 

        const noDeploymentsAlert = document.createElement("div");
        noDeploymentsAlert.classList.add("warning-alert");
        noDeploymentsAlert.innerHTML = `<span><%= content.noDeploymentsMessage %></span>`;

        deploymentsTable.remove();
        if (deploymentsContainer.childElementCount) {
            const firstElement = deploymentsContainer.firstElementChild;
            firstElement.insertAdjacentElement("beforebegin", noDeploymentsAlert);
        }
        else {
            deploymentsContainer.appendChild(noDeploymentsAlert);
        }
    }
</script>

<%# this syntax error is related to the ejs visual studio code extension; the code works tho #%>
<script id="deploy-dialog-script" type="module">
    const trigger = document.getElementById("show-deployment-modal");
    const close = document.getElementById("close-deployment-modal");
    const dialog = document.getElementById("deploy-tool-dialog");

    trigger.addEventListener("click", () => dialog.showModal());
    close.addEventListener("click", () => {
        dialog.close();
    });

    <% if(flash?.values?.withDeployModalOpen ?? false) { %>
        dialog.showModal();
    <% } %>
</script>

<script id="sections-tabs-script" type="module">
    const activeTabInputs = document.querySelectorAll(".active-tab-input");

    const Tabs = Object.freeze({
        Deployments: "#tooldeployments",
        Details: "#tooldetails"
    });

    const availableTabs = Object.values(Tabs);

    const Containers = Object.freeze({
        [Tabs.Deployments]: document.getElementById("deployments"),
        [Tabs.Details]: document.getElementById("details"),
        invalidTab: document.getElementById("invalid-tab")
    });


    function updateContent() {
        const activeTab = window.location.hash;

        Containers.invalidTab.hidden = false;
        Object.values(Tabs).forEach((tabContainerId) => {
            Containers[tabContainerId].hidden = true;
        });

        if (!availableTabs.includes(activeTab)) {
            return;
        }

        Containers.invalidTab.hidden = true;
        Containers[activeTab].hidden = false;

        activeTabInputs.forEach(input => input.value = activeTab);
    }

    window.addEventListener("hashchange", updateContent);
    window.addEventListener("load", () => {
        const flashActiveTab = "<%= flash?.values?.activeTab ?? flash?.activeTab %>";

        if (flashActiveTab) window.location.hash = flashActiveTab;

        updateContent();
    });

    const TabTriggers = Object.freeze({
        Deployments: document.getElementById("show-deployments"),
        Details: document.getElementById("show-details"),
    });

    Object.keys(Tabs).forEach((tabKey) => {
        TabTriggers[tabKey].addEventListener("click", () => {
            window.location.hash = Tabs[tabKey];
        })
    })
</script>
